*{
  box-sizing: border-box;
  margin: 0;
}

header{ 
  background-color: rgb(51, 133, 255);
  background-image: url(../img/pattern.png);
  background-size: contain;
  padding-top: 40px;
}

.logo{
  width: 80%;
  margin: auto;
}

#logo{
  height: 60px;
}

main{
  width: 80%;
  margin: auto;
  font-family: 'Playfair Display', serif;
}

section{
  margin-top: 30px;
}

h1{
  font-size: 40px;
}

.articledata{
  color: rgb(92, 138, 138);
}

.author{
  color: rgb(51, 133, 255);
}

.details{
  font-size: 12px;
}

.evidence{
  background-color: rgb(255, 255, 0); 
}

.squaredata{
  width: 33%;
}

thead{
  background-color: rgb(51, 133, 255);
  color: white;
  text-align: left;
}

.safereading{
  background-color: rgb(179, 209, 255);
}