*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-attachment: fixed
}

/* logo */
header{
    height: 120px;
    background-color: rgba(42, 152, 185, 0.6);
    padding: 20px 0px;
}

header img{
    height: 80px;
}

header > div{
    width: 1000px;
    margin: auto;
}

header input{
    text-align: right;
}

/* main */
main{
    width: 1000px;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 14px;
}

section{
    margin-top: 30px;
}

/* section title */
.title{
    font-size: 16px;
}
.title > h1{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(5, 107, 138);
}

a:hover{
    color: rgb(206, 9, 9);
    text-decoration: underline;
}

/* 1st img */
.img1{
    background-image: url(../../img/tim-1.jpg);
    width: 543px;
    height: 362px;
    float: left;
    margin-right: 20px;
}

/* table */
table{
    border-collapse: collapse;
}

thead{
    background-color: rgb(51, 133, 255);
    color: white;
    text-align: left;
}

.safereading{
    background-color: rgb(179, 209, 255);
}

.squaredata{
    width: 25%;
}

.squaredatatext{
    width: 50%;
}

/* 2nd img */
.img2::after{
    display: table;
    clear: both;
    content: "";
}

.img2 div{
    background-image: url(../../img/tim-2.jpg);
    width: 463px;
    height: 361px;
    float: right;
    margin-left: 20px;
}

ul{
    list-style-position: inside;
    padding-left: 0px;
}

/* advice */
.video{
    width: 300px;
    height: 200px;
    max-width: 100%;
    float: left;
    margin-left: 80px;
}

.advice{
    position: relative;
}

.advice::after{
    content: "Lorem Ipsum";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 20px;
}

.video:hover{
    opacity: 0.8;
}

.bottom{
    padding: 30px;
    border-top: 2px solid rgb(51, 133, 255);;
}